/* Headers */
.RightConten{
    margin-left:-6%;
    text-align: right;
    color:#882D17;
}


/* Contents */

.ParaLeftContent{
    font-size: 24px;;
}

.RightContent{
    font-size: 24px;;
}

.LeftContent{
    color:#882D17
}

.RightContent{
    color:#882D17
}
/* Images  */
.RightContentImage{
    margin-top: -2%;;
}
.LeftContentImage_u0{
   margin-left:10%;
}

@media only screen and (max-width: 600px) {

    .RightContentImage{
        margin-top: 2%;;
    }
  }