/* Body */
body {
    background-color: #F2EEEA;
}


/* Navigation */
.logo {
    width: 30%;
}

.nav-item a {
    color: #246461!important;
    font-weight: bold;
    font-size: 15pt;
}

.jobBodyLeftCol {
    border: 2px solid black;
}

.jobBodyRightCol {
    border: 2px solid black;
}

.row {
    margin: auto;
}
