/* Body */
body {
    background-color: #F2EEEA;
}

/* Navigation */
.logo {
    width: 45%;
    margin-left: 10%;
}

.nav-item a {
    color: #246461!important;
    font-weight: bold;
    font-size: 15pt;
}

.nav-item {
    margin-top: 2%;
    margin-right: 2%;
}

/*********** Buttons ***********/
.btn {
    background-color: #EB9125;
    border-radius: 1.375rem;
    border: none;
    float: right;
    color: white;
}

.btn:hover {
    background-color: #EB9125;
    border-radius: 1.375rem;
    border: none;
    color: white;
}

.btn:active {
    background-color: #EB9125!important;
    color: white!important;
}

/* Images */
.homeImage{
    width:100%;
}
/* heading */
.homeSlogan{
    background-color:#7E331F;

}

/* slogan */

.homeSlogan{
    width:17%;
    z-index: 1;
}
/*header tags */
.homeBodyLeftColHeading{
    color:#882D17;
}

/* Paragraphs */

.homeBodyLeftColText{
    color:#085466;
    font-size:24px ;
}
/* 
/* Main  */

.homeBodyLeftCol{
    margin:6%;
    /* border:1px solid; */
}

.homeBtn{
    font-size:15pt;
    width:22%;
}

/* footer {
position: fixed;
bottom: 0;
width: 100%;

} */
/**********************

        Do Not Touch This Page 


********************/