/********** Images  *********/
.teamMemberRightColImage {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width:20%;
    }

.teamMemberLeftColImage{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width:20%;
}