/********** Images  *********/
.teamMemberRightColImage {
    margin-left:40%;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width:20%;
    }

.teamMemberLeftColImage{
    margin-left:40%;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width:20%;
}
h2{
    color:#085466;
}
/********* Card  *******/
.teamMemberLeftCol{
    margin:1.5%;
    float:left;
    padding: 2%;
    border: 1px solid #246461;
    border-radius: 6%;
    box-shadow: 3px 3px 10px rgb(165, 165, 165);
    background-color: white;
}

.teamMemberRightCol{
    margin:1.5%;
    float:right;
    padding: 2%;
    border: 1px solid #246461;
    border-radius: 6%;
    box-shadow: 3px 3px 10px rgb(165, 165, 165);
    background-color: white;
}

.teamMemberRow{
    justify-content: space-evenly;
    height:20%;
    margin: 2% 0;  
    
}

.a{
    color:black;
}

h2{
    text-align: center;
}

.card-text{
    color:#316F7E;
}



/* mobile view */
@media (max-width: 700px) {
    .teamMemberRow {   
      flex-direction: column;
    }
    
    .teamMemberLeftCol{
        flex: 30%;
        margin-left:100px;
    }

    .teamMemberRightCol{
        margin-left:100px;
    }
  }